
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f5;
    font-family: 'Roboto', sans-serif; 
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #333;
    font-size: 2rem;
    margin-bottom: 30px;
}

h1 i {
    color: #007bff;
    margin-right: 10px;
}

#counter {
    font-size: 2.5rem;
    font-weight: 300;
    color: #007bff; 
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

button.start {
    background-color: #000290;
}

button.start:hover {
    background-color: #000290;
    transform: scale(1.05); 
}

button.stop {
    background-color: #000000;
}

button.stop:hover {
    background-color: #000000;
    transform: scale(1.05);
}

button#resetButton {
    background-color: #00ffae;
}

button#resetButton:hover {
    background-color: #00ffae;
    transform: scale(1.05);
}
